{% extends 'biblioteca/base.html'%} {% block content %}
<h1>Lista de libros</h1>
<a href="{%url 'libros_disponibles'%}" class="btn btn-primary text-end"
  >Libros Disponibles</a
>
<a href="{%url 'crear'%}" class="btn btn-primary">Crear libro</a>
{% if libro_list is empty %}
<p>No hay libros en la biblioteca.</p>
{% else %}
<ul class="listado-libros">
  {% for libro in libro_list %}
  <li class="shadow-lg p-3">
    -Título - {{ libro.titulo }} <br />
    -Autor - {{ libro.autor }} <br />
    -Editorial - {{ libro.editorial }}<br />
    :
  </li>
</ul>
<div class="d-flex justify-content-center mt-3">
  <a href="{% url 'detalle' libro.pk %}" class="btn btn-primary">Ver detalle</a>
  <a href="{% url 'editar' libro.pk %}" class="btn btn-primary">Editar libro</a>
  <a href="{% url 'borrar' libro.pk %}" class="btn btn-primary"
    >Eliminar libro</a
  >
</div>
{% endfor %} {% endif %} {% endblock content%}
