{% extends 'biblioteca/base.html'%} {%block title%}Resultados de
búsqueda{%endblock title%} {%block other_content%}Resultados de
búsqueda{%endblock%}{%block content %} {%for libro in libro_list%}
<div class="container shadow-lg p-3">
  <h1 class="display-4">Titulo - {{libro.titulo}}</h1>
  <h2>Autor - {{libro.autor}}</h2>
  <h2>Editorial - {{libro.editorial}}</h2>
  <h2>Fecha - {{libro.fecha_publicacion}}</h2>
  <h2>Rating - {{libro.rating}}</h2>
  <h2>Genero - {{libro.genero}}</h2>
  <h2>ISBN - {{libro.ISBN}}</h2>
  <h1 class="display-5">Resumen</h1>
  <p>{{libro.resumen}}</p>
  {% if libro.portada %}
  <img src="{{libro.portada.url}}" alt="" class="img-fluid" />
  {% endif %}
  <br />
  <h3>Disponibilidad - {{libro.disponibilidad}}</h3>
  <br />
</div>
{% endfor %} {% endblock %}
