{% block content %} {% block title %}Libros reservados {%endblock title %}
{%block other_content%}Libros reservados {{libro.titulo}}{%endblock%} {% block
title %}Libros reservados{% endblock title %}
<div class="row">
  <div class="col">
    <h1>Libros Reservados</h1>
    {%for libro in reservas %}
    <h1>Titulo - {{libro.titulo}}</h1>
    <h2>Autor - {{libro.autor}}</h2>
    <h2>Editorial - {{libro.editorial}}</h2>
    <h2>Fecha - {{libro.fecha_publicacion}}</h2>
    <h2>Rating - {{libro.rating}}</h2>
    <h2>Genero - {{libro.genero}}</h2>
    <h2>ISBN - {{libro.ISBN}}</h2>
    <p>Resumen - {{libro.resumen}}</p>
    {%if libro.portada %}
    <img src="{{libro.portada.url}}" alt="" width="300" />
    {%endif%}
    <h3>Disponibilidad - {{libro.disponibilidad}}</h3>
    <a href="{% url 'detalles' pk=libro.pk %}" class="btn btn-primary">
      Enlace al Libro {{libro.titulo}}
    </a>
    <a href="{% url 'borrar' pk=libro.pk%}" class="btn btn-primary">
      Eliminar {{libro.titulo}}
    </a>
    {%endfor%}
  </div>
</div>
{%endblock content %}
